# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
Algorithm/Algorithms.si4project/
Algorithm/Algorithm.si4project/
Algorithm/java/.metadata/
Algorithm/java/.recommenders/
Algorithm/java/algorithm/.settings/
Algorithm/Aha_Algorithms/Aha.si4project/
Algorithm/BaseAlgorithms/.idea/
Algorithm/BaseAlgorithms/out/
Java/LearnFunction/.idea/
Java/LearnFunction/out/
Java/LearnFunction/.gradle/
