# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

Algorithm/Algorithm.si4project/
Algorithm/Algorithms.si4project/
Algorithm/Aha_Algorithms/Aha.si4project/

Algorithm/java/.metadata/
Algorithm/java/.recommenders/
Algorithm/java/algorithm/.settings/

Algorithm/BaseAlgorithms/out/
Algorithm/BaseAlgorithms/.idea/

Java/chat/out/
Java/chat/.idea/
Java/LearnFunction/out/
Java/LearnFunction/.idea/
Java/LearnFunction/.gradle/
Java/LearnFunction/Pattern/out/
Java/LearnFunction/Algorithm/out/

Kotlin 面试/LearnKotlin/out/
Kotlin 面试/LearnKotlin/.idea/

Kotlin/LearnKotlin/out/
Kotlin/LearnKotlin/.idea/
Android/AndroidKotlinExercise/.idea/
Android/AndroidExercise/.idea/
Kotlin/JetPackNavigation/.idea/
Android/WorkManagerTest/.idea/
Android/AndroidView/.idea/
Android/AndroidView/gradle/wrapper/
