<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nsz.kotlin">

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.nfc.hce"
        android:required="true" />

    <uses-permission android:name="android.permission.NFC" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".storage.SAFActivity" />
        <activity android:name=".storage.StorageActivity" />
        <activity android:name=".storage.ScopedStorageActivity" />

        <activity android:name=".thread.LaunchScopeActivity" />

        <activity android:name=".spannable.SpannableStringActivity" />

        <!-- Android Architecture Components -->
        <activity android:name=".aac.AndroidArchitectureComponentsActivity" />

        <!--/////////////////////////////////////////////////////////////////////////////////////-->
        <!--//////////////////////////////// Architecture ///////////////////////////////////////-->
        <activity android:name=".aac.architecture.ArchitectureActivity" />

        <!-- Room -->
        <activity android:name=".aac.architecture.room.RoomActivity" />

        <!-- Paging -->
        <activity android:name=".aac.architecture.paging.PagingActivity" />

        <!-- LiveData -->
        <activity android:name=".aac.architecture.live.data.LiveDataActivity" />

        <!-- DataStore -->
        <activity android:name=".aac.architecture.data.store.DataStoreActivity" />

        <!-- Lifecycle -->
        <activity android:name=".aac.architecture.lifecycle.LifecycleActivity" />

        <!-- ViewMode -->
        <activity android:name=".aac.architecture.view.model.ViewModelActivity" />

        <service android:name=".aac.architecture.foreground.service.ForegroundService" />
        <activity android:name=".aac.architecture.foreground.service.ForegroundServiceActivity" />

        <!-- DataBinding -->
        <activity android:name=".aac.architecture.data.binding.DataBindingActivity" />
        <activity android:name=".aac.architecture.data.binding.DataBindingRecyclerViewActivity" />
        <!--/////////////////////////////////////////////////////////////////////////////////////-->
        <!--/////////////////////////////////////////////////////////////////////////////////////-->

        <!--/////////////////////////////////////////////////////////////////////////////////////-->
        <!--////////////////////////////////// UI ///////////////////////////////////////////////-->
        <activity android:name=".aac.ui.UIActivity" />
        <!--/////////////////////////////////////////////////////////////////////////////////////-->
        <!--/////////////////////////////////////////////////////////////////////////////////////-->

        <!-- Animation -->
        <activity android:name=".aac.ui.animation.AnimationActivity" />
        <activity android:name=".aac.ui.animation.interpolator.BounceInterpolatorActivity" />

        <!-- ViewPager2 -->
        <activity android:name=".aac.ui.view.pager2.ViewPager2Activity" />
        <activity android:name=".aac.ui.view.pager2.ViewPager2VerticalActivity" />

        <!--/////////////////////////////////////////////////////////////////////////////////////-->
        <!--////////////////////////////// NFC Function /////////////////////////////////////////-->
        <activity android:name=".nfc.NFCActivity" />
        <activity
            android:name=".nfc.ReaderM1CardActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.nfc.action.ACTION_NDEF_DISCOVERED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
        </activity>
        <activity android:name=".nfc.HCEActivity" />
        <service
            android:name=".nfc.HCEService"
            android:exported="true"
            android:permission="android.permission.BIND_NFC_SERVICE">
            <intent-filter>
                <action android:name="android.nfc.cardemulation.action.HOST_APDU_SERVICE" />
            </intent-filter>
            <meta-data
                android:name="android.nfc.cardemulation.host_apdu_service"
                android:resource="@xml/nfc_hce_aid_group" />
        </service>
        <!--/////////////////////////////////////////////////////////////////////////////////////-->
        <!--/////////////////////////////////////////////////////////////////////////////////////-->

        <!--/////////////////////////////////////////////////////////////////////////////////////-->
        <!--////////////////////////////// Open Source /////////////////////////////////////////-->
        <activity android:name=".open.source.OpenSourceActivity" />
        <activity android:name=".open.source.realm.RealmActivity" />
        <!--/////////////////////////////////////////////////////////////////////////////////////-->
        <!--/////////////////////////////////////////////////////////////////////////////////////-->
    </application>

</manifest>